

.nav {
  grid-area: n;
  background: #00BFFF;
  padding: 10px 0;
}

.item {
  padding: 5px 20px;
  font-size: 18px;
}

.item a{
  color: #ffffff;
  transition: 0.3s;
  border-bottom: solid 1px transparent;
}

.item a:hover{
  /* border-color: #dedede; */
  color: gold;
}

.item a.active {
  color: tomato;
  border-color: tomato;
}
