.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
}
 
.app-wrapper {
  display: grid;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c"
  ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  
}

.app-wrapper-content {
  grid-area: c;
  /* background: coral; */
  background: darkseagreen;
  background: #00838f;
  background: #4eb6bf;
  /* background: linear-gradient(to top, #676968, #d0d3d1); */
}

.content-inner {
  padding: 0 15px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 30px;
  outline: none;
}
